@font-face {
  font-family: "Manrope Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("Manrope Regular"),
    url("/assets/fonts/manrope/static/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope Light";
  font-style: normal;
  font-weight: normal;
  src:
    local("Manrope Light"),
    url("/assets/fonts/manrope/static/Manrope-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope ExtraLight";
  font-style: normal;
  font-weight: normal;
  src:
    local("Manrope ExtraLight"),
    url("/assets/fonts/manrope/static/Manrope-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope Medium";
  font-style: normal;
  font-weight: normal;
  src:
    local("Manrope Medium"),
    url("/assets/fonts/manrope/static/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope Semibold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Manrope Semibold"),
    url("/assets/fonts/manrope/static/Manrope-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Manrope Bold"),
    url("/assets/fonts/manrope/static/Manrope-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope ExtraBold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Manrope ExtraBold"),
    url("/assets/fonts/manrope/static/Manrope-ExtraBold.ttf") format("truetype");
}
