


// Переопределение базового размера шрифта
$font-size-base: 16px; // Задайте нужный размер шрифта


// Ваши дополнительные стили, если необходимо
body {
  font-size: $font-size-base;
}

.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
